body {
    height: 100vh;  
    background-color: black;
  }
  
  canvas {  
    background-color: #fff;
    border-radius: 15px;
    border: 5px solid rgb(35, 109, 82); 
   /*  padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    display: block; */
   
  }
  
  #canvas-wrap{
    position: relative;
  }
  
  
   #download, #clear {
          font-size: large;
          width: 200px;
          height: 50px;
          border-radius: 10px;
          position: relative;
          padding: 10px;
          background-color: #57c4e5;
          border: 3px solid black;
          color: black;
          display: block-inline;
          margin-top: 25px;

        }
  
  #download:hover, #clear:hover {
    background-color: rgb(41, 70, 92);
    color: aliceblue;
  }
  
  #text {
    position:relative;
    font-weight: bold;
    left: 190px;
  }