
body {
  height: 100vh;  
  text-align: center;
  overflow: hidden;
  scrollbar-width: none;
  touch-action: none;
  
  background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

canvas {  
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 5px solid rgb(4, 4, 4); 
  max-width: 100%;
  margin-top: 30px;
}

#download, #clear {
  text-decoration: none;
  font-size: large;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  padding: 5px;
  background-color: #e7e7e7c5;
  border: 3px solid black;
  color: black;
  display: inline-block;
  margin-top: 25px;
  /* margin-right: 10px; */
  margin-left: 10px;
}

#download:hover, #clear:hover {
  cursor: pointer;
  background-color: lightblue;
  color: rgb(51, 35, 100);
}

#text {
  position: relative;
  font-weight: bold;
  left: 190px;
}


input {
  width: 400px;
  padding: 15px 4px;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
  left: -5px;
  margin-top: 5px;
}

input::placeholder {
  text-align: center;
}

@media screen and (max-width: 768px) {
  canvas {
    margin-top: 20px;
    margin-left: -5px;
  }

  #download, #clear {
    margin-top: 15px;
  }

}

@media screen and (max-width: 480px) {
  canvas {
    margin-top: 10px;
  }

  #download, #clear {
    width: 150px;
    height: 40px;
    margin-top: 10px;
  }

  #text {
    left: 120px;
  }
}

